extends layouts/main.jade

block head
  link(href='static/styles/index.css', rel='stylesheet', type='text/css')


block content
  div#navigation
    a#read(href='read').button Read
    a#write(href='write').button Write
