extends layouts/main.jade

block head
  link(href='static/styles/write.css', rel='stylesheet', type='text/css')
  script(src='static/lib/progressbar.js/dist/progressbar.min.js')
  script(src='static/script/write.js')

block content

  div#writeContainer
    div#original

    div#instructionGraphic

    form#summary
      h2#instructions Make it shorter.
      textarea#summaryText
      div#status
        div#tooShort
          button#short(disabled) Keep Writing...
        div#tooLong
          button#long(disabled) Shorten it...
        div#justRight
          button#done I'm Done!
      div#progress
