extends layouts/main.jade

block head
  script(src='static/script/write.js')

block content
  div#original
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec felis est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse hendrerit dolor non velit sollicitudin cursus. Integer gravida laoreet eros, nec dapibus risus cursus eget. Nulla risus orci, porttitor eget blandit non, hendrerit sed purus. Suspendisse accumsan et quam nec ultrices. Phasellus sit amet accumsan arcu, a dictum sapien. Praesent eget tellus id augue commodo placerat quis non mauris. Suspendisse egestas vel augue in auctor. Curabitur porta justo purus, at lobortis sem fermentum id. Pellentesque id est magna.
    p Sed aliquet arcu sit amet magna aliquam, a pellentesque dolor aliquet. Curabitur vel purus eget erat tempus pretium et et arcu. Maecenas luctus volutpat pulvinar. Mauris vitae orci ipsum. Integer et rhoncus elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit amet justo congue, vestibulum magna in, tristique nulla. Sed dignissim id odio eu varius. Fusce et dui massa.

  div#instructionGraphic

  div#instructions Rewrite it using half the words

  form
    textarea#summary
    div#status
      div#tooShort
      div#tooLong
      div#justRight
        button#done I'm Done!
    div#progress

