doctype html
html(lang="en")
  head
    title= pageTitle

    link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
    link(href='static/styles/main.css', rel='stylesheet', type='text/css')
    script(src='static/lib/jquery/jquery.min.js')

    script(type="text/javascript").
      $(function() { $("#fouc").show(); })

    block head

  body
    div#fouc(style="display:none")
      block content
