doctype html
html(lang="en")
  head
    title= pageTitle

    link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
    link(href='static/styles/main.css', rel='stylesheet', type='text/css')
    script(src='static/lib/jquery/jquery.min.js')

    block head
  body
    block content
